<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keyword" content="<%= pageConf.index.head.keyword %>" />
  <meta name="description" content="<%= pageConf.index.head.description %>" />
  
  <title><%= pageConf.index.head.title %></title>

  <!-- <% for (var i = 0; i < pageConf.index.stylesheet.length; i ++) { %>
    <link rel="stylesheet" href="<%= pageConf.index.stylesheet[i] %>" />
	<% } %> -->
</head>

<body>